html {
    background: #f5f5f5;
}
body {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
}

button {
    all: unset;
    cursor: pointer;
}

@keyframes pendingPipeline {
    100% {
        transform: rotate(360deg);
    }
}
